

h1 {
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.navitem {
  padding: 3px;
  width: 120px;
  height: 40px;
  margin: 7px;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .navitem {
    width: 65px;
    margin: 7px;
    padding: 1px;
    font-size: 16px;
    line-height: 1;
  }

  .button {
    font-size: 16px;
    padding: 3px 7.5px;
    margin-bottom: 2px;
  }
}

nav {
  max-width: 1300px;
  margin: auto;
  border-top: 2px solid #555;
  border-left: 2px solid #555;
  border-right: 2px solid #555;
  background-color: #ebfaf3;
}

.green {
  color: #149e5c;
}