* {
  box-sizing: border-box;
}

body {
  font-family: 'Cormorant Garamond', serif;
  line-height: 1.5;
  padding: 4em 1em;
  color: #555;
  font-size: 18px;
}

main {
  max-width: 1400px;
  margin: auto;
  border: 2px solid #555;
}

a {
  color: #149e5c;
}

a:hover {
  color: #107042;
}

.spaced {
  margin: 1em;
}

.centeredBlock {
  display: block;
  margin: 1em auto;
}

.button {
  font-family: 'Cormorant Garamond', serif;
  background-color: #149e5c;
  border: none;
  color: white;
  padding: 5px 15px;
  text-align: center;
  font-size: 18px;
}