* {
  box-sizing: border-box;
}

body {
  font-family: 'Cormorant Garamond', serif;
  line-height: 1.5;
  padding: 4em 1em;
  color: #333333;
  font-size: 18px;
}

main {
  max-width: 1400px;
  margin: auto;
  border: 2px solid #555;
  position: relative;
  z-index: 1;
}

.bg {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("images/background.jpg") center center;
  opacity: .15;
  background-size: contain;
  box-shadow: 0 0 0 0 white inset;
}

a {
  color: #149e5c;
}

a:hover {
  color: #107042;
}

.spaced {
  margin: 1em;
}

.centeredBlock {
  display: block;
  margin: 1em auto;
}

.button {
  font-family: 'Cormorant Garamond', serif;
  background-color: #149e5c;
  border: none;
  color: white;
  padding: 5px 15px;
  text-align: center;
  font-size: 18px;
}

.mobileMessage {
  display: none
}

.overflow {
  overflow-wrap: break-word;
}

@media only screen and (max-width: 600px) {
  .edit-board {
    display: none;
  }
  .mobileMessage {
    display: block;
  }

  .Cell {
    width: 100%;
  }

  .landing-img {
    width: 90%;
  }
}